# /node_modules and /bower_components ignored by default

# Ignore files compiled from TypeScript and CoffeeScript
**/*.{ts,coffee}.js

# Ignore built files except build/index.js
build/
!build/index.js

.npm/
vendor/
node_modules/

# Node modules
node_modules/

# Build directories
dist/
build/
out/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Temporary files and directories
.temp/
.tmp/
.cache/

# System files
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Environment variables
.env
.env.*
.env.local

# Editor-specific files
*.swp
*.swo
*.bak
.idea/
.vscode/
*.code-workspace

# TypeScript output
*.tsbuildinfo

# Miscellaneous
*.min.js
*.map
*.lock
*.tgz

# Git ignored files
.git/
.gitignore
.gitattributes
